/* General styles for the app */
.App {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

h2, h3 {
    color: #2c3e50;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

input:focus {
    outline: none;
    border-color: #3498db;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

li strong {
    color: #3498db;
}

div {
    margin: 20px;
}

/* Style for the login screen (when the user is not logged in) */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

div > h3 {
    font-size: 20px;
    font-weight: bold;
}

/* Style for the chat window */
.chat-window {
    max-width: 600px;
    width: 100%;
    height: 80%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
    background-color: white;
    padding: 10px;
}

.chat-window ul {
    padding: 10px;
}

.chat-window li {
    padding: 10px;
    background-color: #ecf0f1;
    margin-bottom: 5px;
    border-radius: 5px;
}

.chat-window li:nth-child(odd) {
    background-color: #bdc3c7;
}

.chat-window li:nth-child(even) {
    background-color: #ecf0f1;
}

/* Style for the join chat button and user selection area */
.join-chat-container {
    text-align: center;
    margin-top: 20px;
}

.username-button-container {
    margin-top: 20px;
}

.username-button-container button {
    margin: 5px;
}

/* Style for the welcome message */
.welcome-message {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
}

